body {
  text-align: center;
}
img {
  width: 50%;
  height: 50%;
  margin-top: 15px;
}
button {
  background-color: rgb(146, 0, 204);
  color: white;
  font-size: 20px;
  margin: 5px;
  padding: 15px 30px;
}
#purpleButton {
  background-color: white;
  color: purple;
  font-size: 15px;
  margin: 5px;
}
#defaultContent{
  display: block;
}
#bunnyContent {
  display: none;
}
#horseContent {
  display: none;
}